
.wire header h1 a {
    display: block;
    font-size: 72pt;
    font-family: WCROUGHTRAD, sans-serif;
    font-weight: normal;
    margin: -38px 0px 2px -0px;
    width: 200px;
    color: #1a1a1a;
    overflow: hidden;
}

article.intro h1 {
    display: block;
    width: 435px;
    height: 180px;
    background-image: url('../img/head.png');
    text-indent: -9999px;
    margin-left: -15px;
}

.wire header h1 {
    margin: 0px;
}
body {
    background-image: url('../img/bg.png');
}

article p {
}
article img {
}

.wire header.main {
    border: 0px;
    border-bottom: 1px solid #1a1a1a;
    overflow: hidden;
    height: 35px;
    margin: 0 0 20px 0;
    background-color: rgba(20,20,20,.5);
    
}

input {
    font-family: PTSans, sans-serif !important;
}

input[type=submit] {
    font-family: PTSans, sans-serif !important;
}

h1, h2 {
    text-transform: lowercase;
    font-family: WCROUGHTRAD, sans-serif !important;
    font-weight: normal !important;
}

.wire h1 {
    font-size: 28pt;
}

.wire nav {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    text-align: right;
}

.wire nav li a, .wire nav li a:hover {
    font-size: 12pt;
    font-weight: normal;
    font-family: PTSans, sans-serif !important;
    display: block;
    padding-top: 11px;
    text-decoration: none;
    height: 35px;
}

.wire nav li a:hover {
    background: #1a1a1a;

}

.wire nav ul {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 0px;
    border-radius: 0px;
    margin: 0px;

    float: right;
}
#userbox li {
    margin-bottom: 0.4em;
}
#userbox li a {
}
#userbox h1 {
    margin-top: 10px;
    font-size: 22pt;
}

label {
    font-size: 15pt;
}

table{
    width: 100%;
}
table td {
    font-family: monospace;
    border: 0px;
}

table td p {
    margin-bottom: 0px;
}

table th {
    border-bottom: 1px solid rgba(20,20,20,.8);
}
table.thread tr.mine:hover, table.inbox tr:hover, table.contacts tr:hover {
    background-color: rgba(20,20,20,.5);
}

div.opts, td.opts {
    white-space: nowrap;
    text-align: right;
}

.opts a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 5px;
}
.opts a:hover {
    text-decoration: underline;
}

td.delmesg, td.delthread, td.delcontact {
    text-align: right;
}

tr.unread td {
    background-color: rgba(20,20,20,.5);
    font-weight: bold;
}

.inbox_unread {
    font-weight: bold;
}

.logo {
    font-family: WCROUGHTRAD, sans-serif;
}

form.add_recp input, form.add_contact input {
    font-size: 10pt;
    padding: 2px 2px;
}

form.add_recp:before {
    font-size: 8pt;
    content: "Between: ";
}

form.add_recp {
    font-size: 10pt;
}

div.parallelements div {
    float: left;
    padding-right: 20px
}

div.parallelements {
    overflow: hidden;
}

.username {
}

article.message {
    border-bottom: 1px solid #1a1a1a;
}

article.message img.avatar {
    float: left;
    padding-right: 10px;
}

img.avatar {
    width: 80px;
    height: 80px;
}

img.userpageavatar {
    margin-right: 10px;
}

.newmessagebutton {
    margin-top: -10px !important;
}

article.mine:hover, .timeline article:hover, article.message:hover {
    background-color: rgba(20,20,20,.2);
}

article.message header {
    font-size: 10pt;
    padding-top: 0px;
    max-height: 18px;
    overflow: hidden;
}

article.message header a {
    text-decoration: underline;
}

article.message header a.user {
    font-size: 12pt;
    font-weight: bold;
}
article.message div.message {
    padding-top: 0.5em;
    display: block;
    overflow: hidden;
}

article.message p {
    margin-top: 0px;
}
article.event header {
    font-size: 10pt;
    max-height: 2.2em;
    overflow: hidden;
}

article.event h1 {
    padding-top: 5px;
    margin-bottom: 5px !important;
    font-size: 20pt !important;
    word-wrap: break-word;
}

article.event h1 a {
    text-decoration: none;
}
article.event header a {
    font-size: 12pt;
    font-weight: bold;
}
article.event div.box {
    padding-top: 0em;
    display: block;
    overflow: hidden;
}

article.listing div.box div {

    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 200px;;
}

article.event div.box p.creator {
    border-top: 1px solid #0e0e0e;
    background-color: rgba(0,0,0,.5);
    font-style: italic;
    font-size: 10pt;
    -moz-box-shadow: 0px -5px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px -5px 5px rgba(0,0,0,.5);
    box-shadow: 0px -5px 5px rgba(0,0,0,.5);
}
article.event div.box p.creator a {
    font-size: 12pt;
}

article.event div.description {
    overflow: hidden;
}
p.expander a {
    background-color: rgba(20,20,20,.5);
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    height: 1.5em;
}
article div.attendbar, article div.contactbar {
    padding: 7px 10px 5px 15px;
    border: 1px solid #1a1a1a;
    margin-bottom: 10px;
    background-color: rgba(10,10,10,.5);
    border-radius: 5px;
}

article div.attendbar div.parallelements div:last-child p, article div.contactbar div.parallelements div:last-child p  {
    text-align: right;
}

article div.attendbar div.parallelements div, article div.contactbar div.parallelements div {
    margin: 0px;
    padding: 0px;
    width: 50%;
}
article div.attendbar div p, article div.contactbar div p {
    margin: 0px;
}
img.event {
    width: 160px;
    height: 160px;
}

article.event div.box p.field label {
    float: left;
    display: block;
    width: 100px;
}

article.event div.box p.field {
    border-top: 1px solid #1a1a1a;
    padding-top: 5px; padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}
article.event img.event, img.event_edit {
    float: left;
    padding-right: 10px
}

article article.creator:hover {
    background-color: rgba(20,20,20,.2);
}

.fullwidth {
    width:99%;
}

.decentheight {
    height: 200px;
}

div.comments {
    padding-top: 1em;
    overflow: hidden;
    width: 100%;
}

a.delete_button {
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.02, #6f0f0f), color-stop(0.51, #220000), color-stop(0.87, #220000));
    background: -moz-linear-gradient(center top, #ff0f0f 2%, #220000 51%, #220000 87%);
      -webkit-box-shadow: 0px 0px 15px rgba(256, 128, 128, .2);
      -moz-box-shadow: 0px 0px 15px rgba(256, 128, 128, .2);
}

a.delete_button:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.02, #7f0f0f), color-stop(0.51, #320000), color-stop(0.87, #320000));
    background: -moz-linear-gradient(center top, #ff0f0f 2%, #320000 51%, #320000 87%);
      -webkit-box-shadow: 0px 0px 15px rgba(256, 128, 128, .3);
      -moz-box-shadow: 0px 0px 15px rgba(256, 128, 128, .3);
}


article.message header .opts a {
    float: right;
    font-size: 10pt;
    font-weight: normal !important;
}

.encrypted_message {
    background-color: #1a1a1a !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.02, #4f4f4f), color-stop(0.51, #323232), color-stop(0.87, #323232));
    background: url('../img/encrypted_message.png') center;
    height: 40px;
    padding: 0px !important;
    color:transparent;
    overflow:hidden;
    resize: none;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    margin-top: 10px;
}