
header h1 a {
    display: block;
    width: 435px;
    height: 180px;
    background: url('../img/head.png') no-repeat;
    text-indent: -9999px;
    font-family: PTSans;
    font-weight: bold;
    margin-left: -12px;
}

header h1 a {
    font-size: 58pt;
    font-family: WCROUGHTRAD, sans-serif;
    font-weight: normal;
}
body {
    background-image: url('../img/bg.png');
}

article p {
}
article img {
}

h1, h2, nav li a {
    text-transform: lowercase;
    font-family: WCROUGHTRAD, sans-serif !important;
    font-weight: normal !important;
/*    font-family: "Glass TTY VT220" !important;
    font-weight: normal;*/
}

h1 {
    font-size: 28pt !important;
}
nav li a {
    font-size: 18pt !important;
}
#userbox li {
    margin-bottom: 0.4em;
}
#userbox li a {
}
#userbox h1 {
    margin-top: 10px;
    font-size: 22pt;
}
label {
    font-size: 15pt;
}

table.thread, table.inbox {
    width: 100%;
}
table.thread td, table.inbox td {
    font-family: monospace;
    border: 0px;
}

table.inbox th {
    border-bottom: 2px solid rgba(20,20,20,.8);
}
table.thread tr.mine:hover, table.inbox tr:hover {
    background-color: rgba(20,20,20,.5);
}

table.thread td.delmsg a, table.inbox td.delthread a {
    font-weight: bold;
    text-decoration: none;
}

table.inbox tr.unread td {
    background-color: rgba(20,20,20,.5);
    font-weight: bold;
}

.inbox_unread {
    font-weight: bold;
}

.logo {
    font-family: WCROUGHTRAD, sans-serif;
}