
header h1 a {
    display: block;
    width: 435px;
    height: 180px;
    background: url('../img/head.png') no-repeat;
    text-indent: -9999px;
    font-family: PTSans;
    font-weight: bold;
    margin-left: -12px;
}

header h1 a {
    font-size: 58pt;
    font-family: WCROUGHTRAD, sans-serif;
    font-weight: normal;
}
body {
    background-image: url('../img/bg.png');
}

article p {
}
article img {
}

h1, h2, nav li a {
    text-transform: lowercase;
    font-family: WCROUGHTRAD, sans-serif !important;
    font-weight: normal !important;
/*    font-family: "Glass TTY VT220" !important;
    font-weight: normal;*/
}

h1 {
    font-size: 28pt !important;
}
nav li a {
    font-size: 18pt !important;
}
#userbox li {
    margin-bottom: 0.4em;
}
#userbox li a {
}
#userbox h1 {
    margin-top: 10px;
    font-size: 22pt;
}

label {
    font-size: 15pt;
}

table{
    width: 100%;
}
table td {
    font-family: monospace;
    border: 0px;
}

table td p {
    margin-bottom: 0px;
}

table th {
    border-bottom: 1px solid rgba(20,20,20,.8);
}
table.thread tr.mine:hover, table.inbox tr:hover, table.contacts tr:hover {
    background-color: rgba(20,20,20,.2);
}

td.opts {
    white-space: nowrap;
    text-align: right;
}

.opts a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 2px;
}
.opts a:hover {
    text-decoration: underline;
}

td.delmesg, td.delthread, td.delcontact {
    text-align: right;
}

tr.unread td {
    background-color: rgba(20,20,20,.5);
    font-weight: bold;
}

.inbox_unread {
    font-weight: bold;
}

.logo {
    font-family: WCROUGHTRAD, sans-serif;
}

form.add_recp input, form.add_contact input {
    font-size: 10pt;
    padding: 2px 2px;
}

form.add_recp:before {
    font-size: 8pt;
    content: "Between: ";
}

form.add_recp {
    font-size: 10pt;
}

.username {
}

article.message {
    border-top: 2px solid rgba(20,20,20,.5);
}

article.message .avatar {
    float: left;
    padding-right: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
}
.newmessagebutton {
    margin-top: -10px !important;
}

article.message header .opts a {
    float: right;
    font-size: 10pt;
    font-family: monospace;
}
article.mine:hover {
    background-color: rgba(20,20,20,.2);
}

article.message header {
    font-size: 10pt;
}

article.message header a {
    font-size: 12pt;
    font-weight: bold;
}
article.message div.message {
    padding-top: 0.5em;
    display: block;
    overflow: hidden;
}