*.log
*.pyc
*.sublime-project
wire/static/img/avatar/*.*
!wire/static/img/avatar/default.png
wire/static/img/event/*.*
!wire/static/img/event/default.png
wire/local_settings.py
build/
dist/
config.py
