{% extends "main.html" %}
{% block content %}
<h1>Developers &amp; Sysadmins</h1>
<p>You may wish to contribute to the development of <span class="logo">wire</span>, or possibly set up the application on your own server.</p>
<p>Whilst you are free to use this system on my server, and I while give my word that the application installed here is identical to that which is available to everyone, there is obviously to completely validate that trust. So, in the event that you need complete autonomy, the best course of action would be to set up the application on your own server.</p>
<p>The <span class="logo">wire</span> project and instructions for installation are available on the GitHub page:</p>
<p><a href="https://github.com/radiosilence/wire">https://github.com/radiosilence/wire</a></p>
{% endblock %}