{% extends "main.html" %}
{% block title %}Events{% endblock %}
{% block content %}
  <h1>Events</h1>
<article>
  <p>Listings of up and coming events.</p>
</article>
{% for event in events %}
<article class="event listing">
  <a href="{{ url_for('view_event', event_id=event.key) }}"><img src="{{ url_for('static', filename='img/event/%s' % event.data['image']) }}" class="event"/></a>
  <header>
    <div class="opts">

    </div>
    {{ event.data['date'] }} at {{ event.data['time'] }}, <em>{{ event.data['location'] }}</em>, <strong>{{ event.attendees_count }}</strong> attendee(s), <strong>{{ event.maybes_count }}</strong> maybe(s)
  </header>
  <div class="box">
    <div>
    <h1><a href="{{ url_for('view_event', event_id=event.key) }}">{{ event.data['name'] }}</a></h1>
    {{ event.data['description']|markdown }}
    </div>
    <p class="creator">
      {% if g.user.username == event.data['creator'] %}
        Created by you. <a href="{{ url_for('edit_event', event_id=event.key) }}">Edit this event</a>.
      {% else %}
        Created by <a href="{{ url_for('user_updates', username=event.data['creator']) }}">{{ event.data['creator'] }}</a>
      {% endif %}
    </p>

  </div>
</article>
{% endfor %}
<article><p>Displaying {{ count }} event(s).</p></article>
{% endblock %}