{% macro button(type, event_id) %}
  {% if type == 'attend' %}
    {% set href = url_for('event_set_attend', event_id=event_id) %}
    {% set text = 'Attend Event' %}
  {% elif type == 'maybe' %}
    {% set href = url_for('event_set_maybe', event_id=event_id) %}
    {% set text = 'Maybe Attend' %}
  {% else %}
    {% set href = url_for('event_set_unattend', event_id=event_id) %}
    {% set text = 'Unattending' %}
  {% endif %}
  <a href="{{ href }}" class="button">{{ text }}</a>
{% endmacro %}
{% macro attend_bar(type, event_id) %}
 {% if g.logged_in %}
  <div class="attendbar">
    <div class="parallelements">
        <div>
          <p>
          {% if type == 'attending' %}
            You <strong>are</strong> attending this event.
          {% elif type == 'maybe' %}
            You <strong>might</strong> be attending this event.
          {% else %}
            You are <strong>not</strong> attending this event.
          {% endif %}
          </p>
        </div>
        <div>
          <p>
          {% if type == 'attending' %}
            {{ button('maybe', event_id) }} {{ button('unattend', event_id) }}
          {% elif type == 'maybe' %}
            {{ button('attend', event_id) }} {{ button('unattend', event_id) }}
          {% else %}
            {{ button('attend', event_id) }} {{ button('maybe', event_id) }}
          {% endif %}
          </p>
        </div>
    </div>
  </div>
 {% endif %}
{% endmacro %}
{% extends 'main.html' %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/event.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}{{ event.data['name'] }}{% endblock %}
{% block content %}
<article class="event">
  {{ attend_bar(state, event.key) }}
  {{ flashes() }}
  <a href="{{ url_for('view_event', event_id=event.key) }}"><img src="{{ url_for('static', filename='img/event/%s' % event.data['image']) }}" class="event"/></a>
  <header>
  <strong>{{ event.attendees_count }}</strong> attendee(s), <strong>{{ event.maybes_count }}</strong> maybe(s)
  </header>

  <div style="float:right">
    <g:plusone></g:plusone>
  </div>
  <h1><a href="{{ url_for('view_event', event_id=event.key) }}">{{ event.data['name'] }}</a></h1>
  <div class="box" style="padding-top: .5em">
    <p class="field">
     <label>When</label>
     {{ event.data['date'] }} at {{ event.data['time'] }}
    </p>
    <div class="location">
      <p class="field"><label>Where</label>
        <a href="http://maps.google.com/?q={{ event.data['location'] }}">{{ event.data['location'] }}</a>
      </p>
      <div class="map" style="padding-bottom:1em">
        <div id="map1" marker_path="{{url_for('static', filename='img/') }}" address="{{ event.data['location'] }}" style="min-height: 300px">mappy</div>
        </div>
      </div>
    {% if event.show_meeting_place %}
      <p class="field"><label>Meet</label>
        <span id="meeting-place">{{ event.data['meeting_place'] }}</span>

      </p>
    {% endif %}<p class="field">
     <label>Creator</label>
      {% if g.user.username == event.data['creator'] %}
        You (<em><a href="{{ url_for('edit_event', event_id=event.key) }}">Edit this event</a>)</em>
      {% else %}
        <a href="{{ url_for('user_updates', username=event.data['creator']) }}">{{ event.data['creator'] }}</a>
      {% endif %}
    </p>
    <p class="field"><label>What</label><br/>
      <div class="description">{{ (event.data['description'])|markdown }}</div>
    </p>
    
  </div>
  <div class="comments">
  <h2>Comments</h2>
    <a name="comments" />
    {% for comment in event.comments %}
      <article class="message
      {%- if g.user.username == comment.user.username or g.user.username == event.data['creator'] %} creator
      {%- endif -%}">
        <img src="{{ url_for('static', filename='img/avatar/%s' % comment.user.avatar) }}" class="avatar"/>
        <header>
          <div class="opts">
            {% if g.user.username == comment.user.username or g.user.username == event.data['creator'] %}
            <a href="{{ url_for('delete_update', update_id=comment.key) }}">x</a>
            {% endif %}
            <a href="{{ url_for('event_add_reply', update_id=comment.key, event_id=event.key) }}">Reply</a>
          </div>
          <a href="{{ url_for('user_updates', username=comment.user.username) }}" class="user">{{ comment.user.username }}</a> {{ comment.data['date'] }} at {{ comment.data['time'] }}
        </header>
        <div class="message">
        <p>{{ comment.text|markdown }}</p>
        </div>
      </article>
    {% endfor %}
    {% if event.comments_count == 0 %}
    <p>No comments added yet.</p>
    {% endif %}

    {% if session.logged_in %}
    <form action="{{ url_for('event_add_comment', event_id=event.key) }}" method="POST">
      <h2>Add Comment</h2>
      <p><textarea name="text" style="width:97%"></textarea></p>
      <p><input type="submit" value="Add"/></p>
    </form>
    {% endif %}
  </div>
</article>
{% endblock %}
