{% extends "main.html" %}
{% block content %}
<article>
  <h1>Events</h1>
  <p>Listings of up and coming events.</p>
  <p>Displaying {{ count }} events.</p>
</article>
{% for event in events %}
<article class="event">
  <img src="{{ url_for('static', filename='img/event/%s' % event.data['image']) }}" class="event"/>
  <header>
    <div class="opts">
      <a href="#">a</a>
    </div>
    {{ event.data['date'] }} at {{ event.data['time'] }}
  </header>
  <div class="box">
    <div>
    <h1>{{ event.data['name'] }}</h1>
    {{ event.data['description']|markdown }}
    </div>
    <p class="creator">
      {% if g.user.username == event.data['creator'] %}
        Created by you. <a href="{{ url_for('edit_event', event_id=event.key) }}">Edit this event</a>.
      {% else %}
        Created by <a href="{{ url_for('send_message_recipient', recipient=event.data['creator']) }}">{{ event.data['creator'] }}
      {% endif %}
    </p>

  </div>
</article>
{% endfor %}
{% endblock %}