{% macro button(type, event_id) %}
  {% if type == 'attend' %}
    {% set href = url_for('event_set_attend', event_id=event_id) %}
    {% set text = 'Attend Event' %}
  {% elif type == 'maybe' %}
    {% set href = url_for('event_set_maybe', event_id=event_id) %}
    {% set text = 'Maybe Attend' %}
  {% else %}
    {% set href = url_for('event_set_unattend', event_id=event_id) %}
    {% set text = 'Unattending' %}
  {% endif %}
  <a href="{{ href }}" class="button">{{ text }}</a>
{% endmacro %}
{% macro attend_bar(type, event_id) %}
  <div class="attendbar">
    <div class="parallelements">
        <div>
          <p>
          {% if type == 'attending' %}
            You <strong>are</strong> attending this event.
          {% elif type == 'maybe' %}
            You <strong>might</strong> be attending this event.
          {% else %}
            You are <strong>not</strong> attending this event.
          {% endif %}
          </p>
        </div>
        <div>
          <p>
          {% if type == 'attending' %}
            {{ button('maybe', event_id) }} {{ button('unattend', event_id) }}
          {% elif type == 'maybe' %}
            {{ button('attend', event_id) }} {{ button('unattend', event_id) }}
          {% else %}
            {{ button('attend', event_id) }} {{ button('maybe', event_id) }}
          {% endif %}
          </p>
        </div>
    </div>
  </div>
{% endmacro %}
{% extends 'main.html' %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/event.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<article class="event">
  {{ attend_bar(state, event.key) }}
  {{ flashes() }}
  <a href="{{ url_for('view_event', event_id=event.key) }}"><img src="{{ url_for('static', filename='img/event/%s' % event.data['image']) }}" class="event"/></a>
  <header>
    <strong>{{ event.attendees_count }}</strong> attendee(s), <strong>{{ event.maybes_count }}</strong> maybe(s)
  </header>

  <h1><a href="{{ url_for('view_event', event_id=event.key) }}">{{ event.data['name'] }}</a></h1>
  <div class="box" style="padding-top: 1em">
    <p>
     <label>When?</label>
     {{ event.data['date'] }} at {{ event.data['time'] }}
    </p>
    <div class="location">
      <p><label>Where?</label>
        <a href="http://maps.google.com/?q={{ event.data['location'] }}">{{ event.data['location'] }}</a>
      </p>
      <div class="map">
        <div id="map1" marker_path="{{url_for('static', filename='img/') }}" address="{{ event.data['location'] }}" style="min-height: 300px">mappy</div>
      </div>
    </div>
    {% if event.show_meeting_place %}
      <p><label>Meeting?</label>
        <span id="meeting-place">{{ event.data['meeting_place'] }}</span>

      </p>
    {% endif %}
    <p>
      {{ ("<label>What?</label> "+event.data['description'])|markdown }}
    </p>
    <p class="creator">
      {% if g.user.username == event.data['creator'] %}
        Created by you. <a href="{{ url_for('edit_event', event_id=event.key) }}">Edit this event</a>.
      {% else %}
        Created by <a href="{{ url_for('send_message_recipient', recipient=event.data['creator']) }}">{{ event.data['creator'] }}</a>
      {% endif %}
    </p>
    
  </div>
  <div class="comments">
  <h2>Comments</h2>
    <a name="comments" />
    {% for comment in event.comments %}
      <article class="message
      {%- if g.user.username == comment['user'].username or g.user.username == event.data['creator'] %} creator
      {%- endif -%}">
        <img src="{{ url_for('static', filename='img/avatar/%s' % comment['user'].avatar) }}" class="avatar"/>
        <header>
          <div class="opts">
            {% if g.user.username == comment['user'].username or g.user.username == event.data['creator'] %}
            <a href="{{ url_for('event_del_comment', event_id=event.key, comment_id=comment['key']) }}">x</a>
            {% endif %}
          </div>
          <a href="{{ url_for('add_contact', contact=comment['user'].username) }}">{{ comment['user'].username }}</a> {{ comment['date_date'] }} at {{ comment['date_time'] }}
        </header>
        <p>{{ comment['text'] }}</p>
      </article>
    {% endfor %}
    {% if event.comments_count == 0 %}
    <p>No comments added yet.</p>
    {% endif %}
    <form action="{{ url_for('event_add_comment', event_id=event.key) }}" method="POST">
      <h2>Add Comment</h2>
      <p><textarea name="text" style="width:97%"></textarea></p>
      <p><input type="submit" value="Add"/></p>
    </form>
  </div>
</article>
{% endblock %}