{% extends "main.html" %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/inbox.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}Inbox{% endblock %}
{% block content %}
<div class="parallelements">
 <div>
  <h1>Inbox</h1>
 </div>
 <div style="padding-top:1.8em">
  <p><a class="button newmessagebutton" href="{{ url_for('send_message') }}">New Message</a></p>
 </div>
</div>
<article>
{{ flashes() }}

{% if not empty %}
    <table class="inbox">
    <th style="white-space: nowrap;padding: 0px;"></th>
    <th>Sender</th>
    <th style="padding: 0px;"></th>
    <th>Subject</th>
    <th>&nbsp;</th>
    {% for thread in threads %}
    <tr
    {%- if thread.unread_count > 0 %} class="unread"
    {%- endif -%}>
    <td style="width:10px; padding-right: 0px">{%- if thread.unread_count > 0 %}>
    {%- endif -%}</td>
    <td style="white-space: nowrap;"><a href="{{ url_for('user_updates', username=thread.sender) }}">{{ thread.sender }}</a></td>
    <td style="width:10px; padding-right: 0px">
    {% if thread.encryption != 'plain' %}
     <img src="{{ url_for('static', filename='img/lock.png') }}" />
    {% endif %}
    </td>
    <td style="width:100%">
    <a href="{{ url_for('view_thread', thread_id=thread.key) }}">
    {{ thread.subject }}</a>
    </td>

    <td class="opts" style="width: 20px">
      <a href="{{ url_for('del_thread', thread_id=thread.key) }}">x</a>
      <a href="{{ url_for('unsubscribe_thread', thread_id=thread.key) }}">u</a>
    </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No threads for you :'-(</p>
{% endif %}

</article>
<article>
<p><a href="{{ url_for('mark_all_read') }}">Mark all as read</a></p></article>
{% endblock %}