{% extends "main.html" %}
{% block content %}
<article>
<h1>Properly private messaging.</h1>
<p><strong>And also some other cool stuff like event pages.</strong></p>
<p>In light of the fact that services like Twitter, Facebook, and SMS have been compromised by large companies pandering to government interests, and the vast amount of arrests of protestors that have been politically motivated and nothing to do with anyone actually doing anything wrong, then having "evidence" from afformentioned messaging services used against them, I thought it was time for a system that would enable people to communicate their innermost desires in a secure way, with a variety of options, such as messages self-destructing on receipt, messages that aren't stored on a hard-disk anywhere, extremely powerful AES-256 encryption with Whirlpool based key derivation, destruct keys, and other things one might find in a spy movie.</p>
<p>The idea of the project is to provide an alternative to useful things such as Facebook messages and events to enable people to organise themselves without fear of governments and other agencies spying on them.</p>
<p>Of course, the site itself is on my server, and whether you trust me or not is up to you. If you don't, which is fair enough, you're welcome to get the code and deploy it on your own hardware, as the code is available on GitHub, and is completely open source.</p>
<p>Further aims of the project are to allow users to create pages advertising political events with complete anonymity (no IPs are logged, and the whole site is served over SSL).</p>
<p>There are no laws against dissent, and privacy is a human right. Don't let the government stamp on your wrists and pry your liberties from your fingers.</p>
</article>
{% endblock %}