{%- macro flashes() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="ui-state-error ui-corner-all response_error"><span class="ui-icon ui-icon-alert"></span>{{ message }}</div>
        {% elif category == 'success' %}
          <div class="ui-state-highlight ui-corner-all response_highlight"><span class="ui-icon ui-icon-info"></span>{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro -%}
{%-macro update_box(update=None, event_id=None) %}
<form method="POST" action="
  {%- if event_id -%}
    {{ url_for('event_add_comment', event_id=event_id) }}
  {%- else -%}
    {{ url_for('post_update') }}
  {%- endif -%}">
  <p style="text-align: right"><textarea class="fullwidth" name="text" placeholder="Post something interesting...">{%-if update-%}
    @{{ update.user.username }}{{ ' ' }} 
    {%-for mention in update.mentions-%}
     {%-if g.user.username != mention-%}
      @{{ mention }}{{ ' ' }}
     {%-endif-%}
    {%- endfor -%}
  {%-endif-%}</textarea><br/>
  <input type="hidden" value="
  {%- if update -%}
    {{ update.key }}
  {%- endif -%}" name="respond"/>
  <input type="submit" value="Post"/></p>
</form>
{% endmacro -%}
{%- if self.title() != "" -%}
  {%- set ndash = ' \u2014 ' -%}
  {%- set tagline = '' -%}
{%- else -%}
  {%- set ndash = '' -%}
  {%- set tagline = ': Privacy is a right.' -%}
{%- endif -%}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}{{ ndash }}wire{{ tagline }}</title><link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="canonical" href="{{ request.url }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css_lib/reset.css') }}" type="text/css" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css_lib/subverse.css') }}" type="text/css" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css_lib/jquery.autocomplete.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
  <script src="https://maps-api-ssl.google.com/maps?file=api&amp;v=3&amp;sensor=false&amp;key={{ g.GMAPS_KEY }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/shiv.js' ) }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.gMap.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery-ui.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery-ui-timepicker.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.bgiframe.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.ajaxQueue.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.cookie.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.pngFix.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/sjcl.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/showdown.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/common.js') }}" type="text/javascript"></script>

  <script src="https://maps-api-ssl.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  
  {% block javascript %}{% endblock %}
  <script type="text/javascript"> 
    $(function(){ 
        $(document).pngFix(); 
    }); 
  </script> 
  <link rel="canonical" href="https://wire-bbs.org/{{ canonical }}" />
  <meta name="Description" content="{{ self.title() }}{{ ndash }}wire{{ tagline }}')">
</head>
<body class="wire">
  
  <header class="main">
    <div class="container_12">
      <div class="grid_3">
        <h1><a href="/" title="wire" id="asd">wire</a></h1>
      </div>
      <nav class="grid_9">
       <ul>
        <li id="news"><a href="{{ url_for('news_articles') }}">News</a></li>
        <li id="events"><a href="{{ url_for('list_events') }}">Events</a></li>
          {% if session.logged_in %}
            <li id="create-event"><a href="{{ url_for('new_event') }}">Create Event</a></li>
            <li id="send"><a href="{{ url_for('send_message') }}">Send a Message</a></li>
          {% else %}
            <li id="sign_up"><a href="{{ url_for('new_user') }}">Sign Up</a></li>
          {% endif %}
        <li id="developers"><a href="{{ url_for('developers') }}">Developers &amp; Sysadmins</a></li>
       </ul>
      </nav>
     </div>
  </header>
  
<div class="container_12">
  <section class="grid_8" id="content">  
      {% block content %}{% endblock %}
  </section>
    <section id="userbox" class="grid_4">
      {% block user_box %}
      {% if session.logged_in %}
        <img src="{{ url_for('static', filename='img/avatar/%s' % g.user.avatar) }}" class="avatar" style="float: right;"/>
        <h1>{{ g.user.username }}</h1>
        <form action="{{ url_for('logout') }}" method="post">
        <p><ul>
         <li><a href="{{ url_for('inbox') }}"
          {%- if g.unread_count > 0 %} class="inbox_unread"
          {%- endif %}>Inbox ({{ g.unread_count }})</a></li>
         <li><a href="{{ url_for('contacts') }}">Address Book</a></li>
         <li><a href="{{ url_for('edit_user') }}">Edit Profile</a></li>
         <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
         <li><a href="{{ url_for('mentions') }}"
          {%- if g.user.unread_mentions > 0 -%}
            {{ ' ' }}class="inbox_unread"
          
          {%- endif -%}
          >Mentions ({{ g.user.unread_mentions }})</a></li>
         <li><a href="{{ url_for('user_updates', username=g.user.username) }}">Updates</a></li>
        </ul></p>
        <p><button id="logout_submit">Log Out</button></p>
        </form>
      {% elif not hide_login %}
        <h1>Login</h1>
          {{ flashes() }}
          <form method="POST" action="{{ url_for('login') }}">
          <input type="hidden" name="uri" value="{{ request.path }}" />
          <p><input type="text" name="username" id="login_username" placeholder="Username" class="login_field"/></p>
          <p><input type="password" name="password" id="login_password" placeholder="Password"  class="login_field"/></p>
          <p><button id="login_submit" action="{{ url_for('login') }}">Log In</button></p>
          </form>
      {% endif %}
      {% endblock %}
    </section>
</div>
<div id="dialog" title=""></div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang: 'en-GB'}
</script>
</body>
</html>
