{%- macro flashes() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="ui-state-error ui-corner-all response_error"><span class="ui-icon ui-icon-alert"></span>{{ message }}</div>
        {% elif category == 'success' %}
          <div class="ui-state-highlight ui-corner-all response_highlight"><span class="ui-icon ui-icon-info"></span>{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro -%}
{%- if self.title() != "" -%}
  {% set ndash = ' \u2013 ' -%}
{%- else -%}
  {% set ndash = '' %}
{%- endif -%}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}{{ ndash }}wire &ndash; Privacy is a right.</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css_lib/subverse.css') }}" type="text/css"/> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css"/> 
  <script src="{{ url_for('static', filename='js_lib/jquery.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery-ui.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery-ui-timepicker.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.bgiframe.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.ajaxQueue.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/thickbox-compressed.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.autocomplete.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery.cookie.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/fileuploader.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js_lib/common.js') }}" type="text/javascript"></script>
  {% block javascript %}{% endblock %}
  <link rel="canonical" href="http://wire.0xf.nl/{{ canonical }}?>" />
  <meta name="Description" content="{{ self.title() }}{{ ndash }}wire &ndash; Privacy is a right.')?>">
</head>
<body>
<div class="container_12">
  
  <header class="grid_12"><h1><a href="/" title="wire" id="asd">wire &ndash; Privacy is a right.</a></h1></header>
  <nav class="grid_12">
   <ul>
    <li id="news"><a href="{{ url_for('blog_entries') }}">Blog</a></li>
    <li id="events"><a href="{{ url_for('list_events') }}">Events</a></li>
      {% if session.logged_in %}
        <li id="create-event"><a href="{{ url_for('new_event') }}">Create Event</a></li>
        <li id="send"><a href="{{ url_for('send_message') }}">Wire a Message</a></li>
      {% else %}
        <li id="sign_up"><a href="{{ url_for('new_user') }}">Sign Up</a></li>
      {% endif %}
    <li id="developers"><a href="{{ url_for('developers') }}">Developers &amp; Admins</a></li>
   </ul>
  </nav>
  <section class="grid_8" id="content">  
      {% block content %}{% endblock %}
  </section>
    <section id="userbox" class="grid_4">
      {% block user_box %}
      {% if session.logged_in %}
        <img src="{{ url_for('static', filename='img/avatar/%s' % g.user.avatar) }}" class="avatar" style="float: right;"/>
        <h1>{{ g.user.username }}</h1>
        <form action="{{ url_for('logout') }}" method="post">
        <p><ul>
         <li><a href="{{ url_for('inbox') }}"
          {%- if g.unread_count > 0 %} class="inbox_unread"
          {%- endif %}>Inbox ({{ g.unread_count }})</a></li>
         <li><a href="{{ url_for('contacts') }}">Address Book</a></li>
         <li><a href="{{ url_for('edit_user') }}">Edit Profile</a></li>
        </ul></p>
        <p><button id="logout_submit">Log Out</button></p>
        </form>
      {% elif not hide_login %}
        <h1>Login</h1>
          {{ flashes() }}
          <form method="POST" action="{{ url_for('login') }}">
          <p><input type="text" name="username" id="login_username" placeholder="Username" class="login_field"/></p>
          <p><input type="password" name="password" id="login_password" placeholder="Password"  class="login_field"/></p>
          <p><?=$_message?></p>
          <p><button id="login_submit" action="{{ url_for('login') }}">Log In</button></p>
          </form>
      {% endif %}
      {% endblock %}
    </section>
</div>
  <div id="dialog" title=""></div>
</body>
</html>
