{% extends "main.html" %}
{% block content %}

{% if decrypted %}
<h1>{{ subject }}</h1>
{% for message in messages %}
<article>
<p><code>From: <strong>{{ message.data['sender'] }}</strong> On: <strong>{{ message.data['date'] }}</strong></code></p>
<p><blockquote><pre class="blank">{{ message.data['content'] }}</pre></blockquote></p>
</article>
{% endfor %}
{% else %}
<h1>Encrypted Thread</h1>
<form method="POST" action="{{ url_for('view_thread', thread_id=thread) }}">
<input type="hidden" name="action" value="decrypt"/>
<p>This message needs to be decrypted. To do this, enter the encryption key into the box below.</p>
<p><input type="text" name="encryption_key" placeholder="Ex. hunter2" />&nbsp;<input type="submit" value="Decrypt"/></p>
</form>
{% endif %}
<form action="{{ url_for('view_thread', thread_id=thread) }}" method="post">
<input type="hidden" name="action" value="reply"/>
<label for="msg-content"><h1>Reply</h1></label><textarea id="msg-content" name="content" style="width:95%; height: 100px">

</textarea>
{% if encryption_key %}<input type="hidden" name="encryption_key" value="{{ encryption_key }}"/>{% endif %}
<input type="submit" value="Send"/>
</form>
{% endblock %}