{% extends "main.html" %}
{% block title %}{{ subject }}{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js_lib/jquery.autocomplete.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/thread.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/crypto.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}

  <h1><a href="{{ url_for('view_thread', thread_id=thread.key) }}">{{ subject }}</a></h1>
  {{ flashes() }}
  <p><form class="add_recp" method="POST" action="{{ url_for('add_recipient', thread_id=thread.key) }}">
  <input type="hidden" name="confirm" value="0"/><span class="recp_list">
  {% for username in thread.recipient_usernames %}
    <a href="{{ url_for('user_updates', username=username) }}">{{ username }}</a>,
  {% endfor %}
  &nbsp;<input type="text" name="username" id="addrecip"/><input type="submit" value="Add"/></span></form></p>
  <div id="decrypt" style="display:none">
    <p>It seems that messages in this thread are encrypted with AES-256. Decrypt them by entering the passphrase below:<br/>
    <div class="ui-state-error ui-corner-all response_error" id="decrypt-failed" style="display:none"><span class="ui-icon ui-icon-alert"></span>Decryption Failed<br/></div>
      <input type="text" id="passphrase"/> <a class="button" id="decrypt-button" href="#">Decrypt</a></p>
  </div>
  <div class="ui-state-highlight ui-corner-all response_highlight" id="decrypt-success" style="display:none"><span class="ui-icon ui-icon-info"></span>Decryption Succeeded<br/></div>
  <div id="messages">
  {% for message in messages %}
  <article class="message{%- if g.user.username == message.sender.username %} mine
    {%- endif %}">
  <img src="{{ url_for('static', filename='img/avatar/%s' % message.sender.avatar) }}" class="avatar"/>
  <header>
    <div class="opts">
      {% if g.user.username == message.sender.username %}
        <a href="{{ url_for('delete_message', thread_id=thread.key, message_id=message.key) }}">x</a>
      {% endif %}
    </div>
    <a href="{{ url_for('user_updates', username=message.sender.username) }}" class="user">{{ message.sender.username }}</a> {{ message.data['date_date'] }} at {{ message.data['date_time'] }}

  </header>

  <div class="message {{ thread.encryption }}">
{{ message.data['content'] }}</div>
  </article>


  {% endfor %}
  </div>
  <div id="reply">
    <form action="{{ url_for('view_thread', thread_id=thread.key) }}" method="post" id="reply-form">
    <input type="hidden" name="action" value="reply"/>
    <input type="hidden" name="encryption" value="{{ thread.encryption }}"/>
    <p><label for="msg-content"><h1>Reply</h1></label><textarea id="msg-content" name="content" class="fullwidth" style="height: 100px" placeholder="Write your reply in here."></textarea></p>
    <p style="text-align: right"><input type="submit" class="reply-button" value="Reply to all"/></p>
  </form>
  </div>


{% endblock %}