{% extends "main.html" %}
{% block javascript %}
<script src="{{ url_for('static', filename='js_lib/jquery.autocomplete.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/thread.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}

{% if decrypted %}
  <h1><a href="{{ url_for('view_thread', thread_id=thread.key) }}">{{ subject }}</a></h1>
  {{ flashes() }}
  <p><form class="add_recp" method="POST" action="{{ url_for('add_recipient', thread_id=thread.key) }}">
  <input type="hidden" name="confirm" value="0"/><span class="recp_list">
  {% for username in thread.recipient_usernames %}
    <a href="{{ url_for('user_updates', username=username) }}">{{ username }}</a>,
  {% endfor %}
  &nbsp;<input type="text" name="username" id="addrecip"/><input type="submit" value="Add"/></span></form></p>

  {% for message in messages %}
  <article class="message{%- if g.user.username == message.sender.username %} mine
    {%- endif %}">
  <img src="{{ url_for('static', filename='img/avatar/%s' % message.sender.avatar) }}" class="avatar"/>
  <header>
    <div class="opts">
      {% if g.user.username == message.sender.username %}
        <a href="{{ url_for('delete_message', thread_id=thread.key, message_id=message.key) }}">x</a>
      {% endif %}
    </div>
    <a href="{{ url_for('user_updates', username=message.sender.username) }}">{{ message.sender.username }}</a> {{ message.data['date_date'] }} at {{ message.data['date_time'] }}

  </header>

  <div class="message">
{{ message.data['content']|markdown }}</div>
  </article>


  {% endfor %}
  <form action="{{ url_for('view_thread', thread_id=thread.key) }}" method="post">
  <input type="hidden" name="action" value="reply"/>
  {% if encryption_key %}
    <input type="hidden" name="encryption_key" value="{{ encryption_key }}"/>
  {% endif %}
  <p><label for="msg-content"><h1>Reply</h1></label><textarea id="msg-content" name="content" style="width:98%; height: 100px" placeholder="Write your reply in here."></textarea></p>
  <p style="text-align: right"><input type="submit" value="Reply to all"/></p>
</form>

{% else %}
  <h1>Encrypted Thread</h1>
  {{ flashes() }}
    <form method="POST" action="{{ url_for('view_thread', thread_id=thread.key) }}">
    <input type="hidden" value="">
    <input type="hidden" name="action" value="decrypt"/>
    <p>This message needs to be decrypted. To do this, enter the encryption key into the box below.</p>
    <p><input type="text" name="encryption_key" placeholder="Ex. hunter2" />&nbsp;<input type="submit" value="Decrypt"/></p>
  </form>
{% endif %}
{% endblock %}