{% macro button(type, contact) %}
  {% if type == 'add' %}
    {% set href = url_for('add_contact_t',contact=contact) %}
    {% set text = 'Follow' %}
  {% elif type == 'remove' %}
    {% set href = url_for('del_contact_t', contact=contact) %}
    {% set text = 'Unfollow' %}
  {% endif %}
  <a href="{{ href }}" class="button">{{ text }}</a>
{% endmacro %}
{% macro contact_bar(type, contact) %}
 {% if g.logged_in %}
  <div class="contactbar">
    <div class="parallelements">
        <div>
          <p>
          {% if type == 'contact' %}
            You <strong>are</strong> following this user.
          {% elif type == 'nocontact' %}
            You are <strong>not</strong> following this user.
          {% endif %}
          </p>
        </div>
        <div>
          <p>
          {% if type == 'contact' %}
            {{ button('remove', contact) }}
          {% elif type == 'nocontact' %}
            {{ button('add', contact) }}
          {% endif %}
          </p>
        </div>
    </div>
  </div>
 {% endif %}
{% endmacro %}
{% extends "main.html" %}
{% block javascript %}
 <script src="{{ url_for('static', filename='js/timeline.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1 style="margin-top: 0px">{{ title }}</h1>
{% if user and g.user.key != user.key %}
<img src="{{ url_for('static', filename='img/avatar/%s' % user.avatar) }}" class="avatar userpageavatar" style="float:left"/>
<p>This user is {% if g.user.username not in user.contacts %} not{% endif %} following you. <a class="button" href="{{ url_for('send_message_recipient', recipient=user.username) }}">Send Message</a></p>
<article>
  {{ contact_bar(state, user.username) }}

{% elif not disable_userbox %}
<p>This is you. Do not attempt to follow yourself.</p>
<article>

{% endif %}
{{ flashes() }}

</article>

{% if not disable_input %}
{{ update_box() }}
{% endif %}
<div class="timeline">
{% for update in timeline %}
  <article class="message{%- if g.user.username == update.user.username %} mine
    {%- endif %}">
    <img src="{{ url_for('static', filename='img/avatar/%s' % update.user.avatar) }}" class="avatar"/>
    <header>
      <div class="opts">
        {% if g.user.username == update.user.username %}
          <a href="{{ url_for('delete_update', update_id=update.key) }}">x</a>
        {% endif %}
        <a href="{{ url_for('respond_update', update_id=update.key) }}">Reply</a>
      </div>
      <a href="{{ url_for('user_updates', username=update.user.username) }}" class="user">{{ update.user.username }}</a> {{ update.data['date'] }} at {{ update.data['time'] }}

    {%-if update.respond -%}
     {{ ' ' }}<em>In reply to <a href="{{ url_for('conversation', conversation_id=update.conversation) }}">#{{ update.respond }}</a></em>
    {%-endif-%}
    {%-if update.event-%}
     {{ ' ' }}<em>On event "<a href="{{ url_for('view_event', event_id=update.event) }}">{{ update.data['event_name'] }}</a></em>"
    {%-endif-%}

    </header>
    <div class="message">
    {{ update.text|markdown }}</div>
  </article>
{% endfor %}
</div>
{% endblock %}