{% extends "main.html" %}
{% block title %}Create Event{% endblock %}
{% block javascript %}
  <script src="{{ url_for('static', filename='js_lib/ui.geo_autocomplete.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/event_form.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<article>
  <h1>
  {%- if new -%}
    Create
  {%- else -%}
    Edit
  {%- endif %} Event</h1>
  {{ flashes() }}
  {% if not new %}
    <p><a href="{{ url_for('view_event', event_id=event.key) }}">Back to event</a></p>
  {% endif %}
  <form id="event-form" method="POST" enctype="multipart/form-data" action="
  {%- if new -%}
    {{ url_for('new_event') }}
  {%- else -%}
    {{ url_for('edit_event', event_id=event.key) }}
  {%- endif -%}
  ">
    <div class="parallelements">
     <div>
      <p><label for="name">Event Name</label><br/>
        <input type="text" name="name" id="name" placeholder="Ex. My Awesome March" value="{{ event.data['name'] }}"/>
      </p>
     </div>
     <div>
      <p><label for="date">Date</label><br/>
          <input type="text" name="date" id="date" class="datepick" placeholder="Ex. 1981-05-11" value="{{ event.data['date'] }}"/>
      </p>
     </div>
     <div>
      <p>
       <label for="time">Time</label><br/>
          <input type="text" name="time" id="time" class="timepick" placeholder="Ex. 13:37"   value="{{ event.data['time'] }}"/>
      </p>
     </div>
    </div>
    <div class="parallelements">
     <div>
      <p>
       <label for="location">Location</label><br/>
       <input type="text" name="location" id="location" placeholder="Ex. Trafalgar Square, London" value="{{ event.data['location'] }}"/>
      </p>
     </div>
      <p>
       <label for="meeting_place">Meeting Place</label><br/>
       <input type="text" name="meeting_place" id="meeting_place" placeholder="Ex. Soho Square, London" value="{{ event.data['meeting_place'] }}"/>
      </p>
     <div>
     </div>
    </div>
    <p>
        <div style="overflow:hidden">
            <img src="{{ url_for('static', filename='img/event/%s' % event.data['image']) }}" class="event_edit"/>
            <label for="image">Image</label><br/>
            <input type="file" name="image" id="image"/>
        </div>
    </p>
    <p><label for="description">Description</label><br/>
        <textarea id="description" name="description" class="fullwidth decentheight" placeholder="Ex. We are doing something and it will be excellent because...">{{ event.data['description'] }}</textarea>
    </p>
    <p><button style="font-size:24pt !important; font-weight: bold !important">
  {%- if new -%}
    Create Event
  {%- else -%}
    Save
  {%- endif %}</button>&nbsp;
  {% if not new %}
  <a href="{{ url_for('del_event', event_id=event.key) }}" class="button delete_button" style="font-size:24pt !important; font-weight: bold !important">Delete Event</a>
  {% endif %}</p>

  </form>
</article>
{% endblock %}