{% extends "main.html" %}
{% block javascript %}
  <script src="{{ url_for('static', filename='js_lib/jquery.autocomplete.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/message_form.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/crypto.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h1>Send a Message</h1>
<article>
{{ flashes() }}
<form id="msg-form" method="POST" action="{{ url_for('send_message') }}">
<input type="hidden" name="encryption" value="plain" id="msg-encryption"/>
    <p><label for="recipients">Recipient(s)</label><br/>
        <textarea id="recipients" class="fullwidth" style="height: 3em" name="recipients">{{ ', '.join(recipients) }}</textarea><br/>Send to multiple recipients by separating their usernames with a comma (User1, User2, etc)
    </p>
    <p><label for="subject">Subject</label><br/>
        <input id="subject" type="text" name="subject" class="fullwidth" value="{{ request.form['subject'] }}"/><br/>
        <strong>NOTE:</strong> Message subjects are <strong>not</strong> encrypted. Do not put revealing information in message subjects.
    </p>
    <p id="msg"><label for="msg-content">Message</label><br/>
        <textarea id="msg-content" name="content" placeholder="Ex. Blah blah blah..." class="fullwidth decentheight" >{{ message.data['content'] }}</textarea>
    </p>
  </article>
  <article id="crypto">
  </article>
  <article>
        <p><button style="font-size:24pt !important; font-weight: bold !important">Send</button>
        </p>
  </article>
</form>
{% endblock %}