{%- set hide_login=True -%}
{%- extends "main.html" -%}
{% block title %}{% if new %}Sign Up{% else %}User Details{% endif %}{% endblock %}
{% block javascript %}
  <script src="{{ url_for('static', filename='js/user_form.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<article>
<form id="user-form" method="POST" enctype="multipart/form-data" action="
  {%- if new -%}
    {{ url_for('new_user') }}
  {%- else -%}
    {{ url_for('edit_user') }}
  {%- endif -%}
  ">
<input type="hidden" value="">
  {{ flashes() }}
  {% if new %}
    <p><label for="username">Username</label><br/>
    <input type="text" name="username" id="username" value="{{ user.username }}"  placeholder="Ex: janedoe1"/></p>
  {% else %}
    <input type="hidden" name="id" value="{{ user.id }}"/>
  {% endif %}
    <p><img src="{{ url_for('static', filename='img/avatar/'+user.avatar) }}" class="avatar"id="avafile_img" style="display:{% if user.avatar %}block{% else %}none{% endif %}; float:left; margin: .7em 1em 1em 0em "/>
    <label for="avatar">Avatar</label>&nbsp; 
    <input type="file" id="avatar" name="avatar" /><br/>This can be any picture, it will be visible to others and cropped/resized. It is not recommended to use a picture that is personally identifiable.</p>
    <input type="hidden" name="avatar" id="avafile" value="{{ user.avatar }}"/>
    <div class="parallelements">
      <div>
        <p>
          <label for="password">Password</label><br/>
          <input type="password" name="password" id="password" placeholder="{% if new %}Ex: hunter2{% else %}No change{% endif %}"/>
        </p>
      </div>
      <div>
        <p>
          <label for="password_confirm">Password (Confirm)</label><br/>
          <input type="password" name="password_confirm" id="password_confirm" placeholder="{% if new %}Ex: hunter2{% else %}No change{% endif %}"/>

          </p>
      </div>
    {% if not new %}
    <p>
  If you do not enter a new password, it will not be changed.</p>
    {% endif %}
    </div>
  <p class="submit"><button class="submit" id="submit_user_form" style="font-size: 22pt !important; font-weight: bold !important;">{% if new %}Create{% else %}Save{% endif %}</button></p>
</form>
</article>
{% endblock %}